rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /paperSheets/{year}/{weekId}/{file} {
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
